@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth {
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
